<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Libro de recetas</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Recetas</a></li>
                <li><a href="#">Lista de compras</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Administrar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Guardar datos</a></li>
                        <li><a href="#">Ver datos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>