<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Nombre de la receta</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
                Administrar receta
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Agregar a la lista de compras</a></li>
                <li><a href="#">Editar receta</a></li>
                <li><a href="#">Borrar receta</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Descripción
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredientes
    </div>
</div>